{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>YAMW</title>
  <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
</head>
<body>
  <div id="app" class="page page-home">
    <header class="topbar">
      <a href="{% url 'home' %}" class="logo">YOU ARE MY WORLD💫</a>
      <div class="btn-group">
        <button id="smileBtn" class="smile-btn">😊 Улыбнись</button>
         <a href="https://www.instagram.com/wxaika?igsh=MWx2ZGh3anZwNjZpag==" 
          target="_blank" 
          class="smile-btn" style="text-decoration: none;">
          Instagram
        </a>
         <a href="https://www.tiktok.com/@wxaika4?_r=1&_t=ZS-91EFxn3iUuQ" 
          target="_blank" 
          class="smile-btn" style="text-decoration: none;">
          TikTok
        </a>
        <a href="{% url 'stories' %}" class="smile-btn" style="text-decoration: none;">Истории</a>
      </div>
    </header>

    <main class="main">
      <section class="hero" id="welcome">
        <h2>Добро пожаловать ❤️</h2>
        <p>
          АЙЖАМАЛ
        </p>
      </section>
      <div id="app-root"></div>
    </main>

    <footer class="footer">Сделано с душой</footer>
  </div>

  <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>
